// Colors
$main-color: #871b38;
$main-color-light: #a53348;
$second-color: #56684b;
$second-color-light: #a4c4b5;
$third-color: #db8b6a;
$third-color: #eaa581;
$fourth-color: #e7c583;
$fourth-color-light: #fde4a9;

$fifth-color: #eccbd9;
$fifth-color-dark: #e7cfe4;

$basic-white: #fff;
$basic-black: #000;

$basic-grey: #333;
$basic-grey-second: #a9a9a9;
$basic-grey-third: #727070;

$light-grey: #eee;

//Fonts
$default-font-size: 1.6rem;
$small-font-size: 1.2rem;

// Spacing
$ss: 15px;
$s: 18px;
$m: 24px;
$l: 30px;
$ll: 45px;
$xl: 50px;
$xxl: 65px;
$desktop-breakpoint: 45rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 10rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-big: 20rem;
